In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Bank Marketing Data Set is used in this project for binary classification problem.

The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed.

Input variables:
# bank client data:
1 - age (numeric)
2 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3 - marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5 - default: has credit in default? (categorical: 'no','yes','unknown')
6 - housing: has housing loan? (categorical: 'no','yes','unknown')
7 - loan: has personal loan? (categorical: 'no','yes','unknown')
# related with the last contact of the current campaign:
8 - contact: contact communication type (categorical: 'cellular','telephone') 
9 - month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10 - day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11 - duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
# other attributes:
12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14 - previous: number of contacts performed before this campaign and for this client (numeric)
15 - poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
# social and economic context attributes
16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
17 - cons.price.idx: consumer price index - monthly indicator (numeric) 
18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric) 
19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
20 - nr.employed: number of employees - quarterly indicator (numeric)

Output variable (desired target):
21 - y - has the client subscribed a term deposit? (binary: 'yes','no')

In [ ]:
data=pd.read_csv("bank.csv",header=0,sep=';')

In [ ]:
data.head(10)

   age            job  marital  education  ... pdays  previous poutcome   y
0   30     unemployed  married    primary  ...    -1         0  unknown  no
1   33       services  married  secondary  ...   339         4  failure  no
2   35     management   single   tertiary  ...   330         1  failure  no
3   30     management  married   tertiary  ...    -1         0  unknown  no
4   59    blue-collar  married  secondary  ...    -1         0  unknown  no
5   35     management   single   tertiary  ...   176         3  failure  no
6   36  self-employed  married   tertiary  ...   330         2    other  no
7   39     technician  married  secondary  ...    -1         0  unknown  no
8   41   entrepreneur  married   tertiary  ...    -1         0  unknown  no
9   43       services  married    primary  ...   147         2  failure  no

[10 rows x 17 columns]

In [ ]:
data['education'].unique()

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

In [ ]:
X = data.drop('y', 1) # 1 represents column, we are dropping as we are doing classification
y = data.y

In [ ]:
X

      age            job  marital  ... pdays previous  poutcome
0      30     unemployed  married  ...    -1        0   unknown
1      33       services  married  ...   339        4   failure
2      35     management   single  ...   330        1   failure
3      30     management  married  ...    -1        0   unknown
4      59    blue-collar  married  ...    -1        0   unknown
...   ...            ...      ...  ...   ...      ...       ...
4516   33       services  married  ...    -1        0   unknown
4517   57  self-employed  married  ...    -1        0   unknown
4518   57     technician  married  ...    -1        0   unknown
4519   28    blue-collar  married  ...   211        3     other
4520   44   entrepreneur   single  ...   249        7     other

[4521 rows x 16 columns]

In [ ]:
y

0       no
1       no
2       no
3       no
4       no
        ..
4516    no
4517    no
4518    no
4519    no
4520    no
Name: y, Length: 4521, dtype: object

In [ ]:
for col_name in X.columns:
    if X[col_name].dtypes == 'object':# in pandas it is object
        unique_cat = len(X[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))
        print(X[col_name].value_counts())
        print()

Feature 'job' has 12 unique categories
management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64

Feature 'marital' has 3 unique categories
married     2797
single      1196
divorced     528
Name: marital, dtype: int64

Feature 'education' has 4 unique categories
secondary    2306
tertiary     1350
primary       678
unknown       187
Name: education, dtype: int64

Feature 'default' has 2 unique categories
no     4445
yes      76
Name: default, dtype: int64

Feature 'housing' has 2 unique categories
yes    2559
no     1962
Name: housing, dtype: int64

Feature 'loan' has 2 unique categories
no     3830
yes     691
Name: loan, dtype: int64

Feature 'contact' has 3 unique categories
cellular     2896
unknown      1324
telephone     301
Name: contact, dtype: int64

Feature 'month' has 12 unique categories
may    1398
jul     706
aug     633
jun     531
nov     389
apr     293
feb     222
jan     148
oct      80
sep      52
mar      49
dec      20
Name: month, dtype: int64

Feature 'poutcome' has 4 unique categories
unknown    3705
failure     490
other       197
success     129
Name: poutcome, dtype: int64

In [ ]:
data['y'].value_counts()

no     4000
yes     521
Name: y, dtype: int64

In [ ]:
class LogisticRegression:
    def __init__(self, lr=0.01, num_iter=100000, fit_intercept=True, verbose=False):
        self.lr = lr
        self.num_iter = num_iter
        self.fit_intercept = fit_intercept
        self.verbose = verbose
    
    def add_intercept(self, X):
        intercept = np.ones((X.shape[0], 1))
        return np.concatenate((intercept, X), axis=1)
    
    def sigmoid(self, z):
        return 1 / (1 + np.exp(-z))
    def loss(self, h, y):
        return (-y * np.log(h) - (1 - y) * np.log(1 - h)).mean()
    
    def fit(self, X, y):
        if self.fit_intercept:
            X = self.add_intercept(X)
        
        # weights initialization
        self.theta = np.zeros(X.shape[1])
        
        for i in range(self.num_iter):
            z = np.dot(X, self.theta)
            h = self.sigmoid(z)
            gradient = np.dot(X.T, (h - y)) / y.size
            self.theta -= self.lr * gradient
            
            z = np.dot(X, self.theta)
            h = self.sigmoid(z)
            loss = self.loss(h, y)
                
            if(self.verbose ==True and i % 10000 == 0):
                print(f'loss: {loss} \t')
    
    def predict_prob(self, X):
        if self.fit_intercept:
            X = self.add_intercept(X)
    
        return self.sigmoid(np.dot(X, self.theta))
    
    def predict(self, X):
        return self.predict_prob(X).round()

In [ ]:
dummy_list = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact','month','poutcome']

In [ ]:
def dummy_df(df, todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x], prefix=x, dummy_na=False) # prefix give name
        df = df.drop(x, 1)
        df = pd.concat([df, dummies], axis=1)
    return df

In [ ]:
X = dummy_df(X,dummy_list)

In [ ]:
X.head(10)

   age  balance  day  ...  poutcome_other  poutcome_success  poutcome_unknown
0   30     1787   19  ...               0                 0                 1
1   33     4789   11  ...               0                 0                 0
2   35     1350   16  ...               0                 0                 0
3   30     1476    3  ...               0                 0                 1
4   59        0    5  ...               0                 0                 1
5   35      747   23  ...               0                 0                 0
6   36      307   14  ...               1                 0                 0
7   39      147    6  ...               0                 0                 1
8   41      221   14  ...               0                 0                 1
9   43      -88   17  ...               0                 0                 0

[10 rows x 51 columns]

In [ ]:
msk = np.random.rand(len(X)) < 0.8

In [ ]:
msk

array([ True,  True,  True, ...,  True,  True,  True])

In [ ]:
train_X,train_y = X[msk],y[msk]

In [ ]:
test_X,test_y = X[~msk],y[~msk]

In [ ]:
print(train_X.shape)
print(train_y.shape)
print(test_X.shape)
print(test_y.shape)

(3612, 51)
(3612,)
(909, 51)
(909,)

In [ ]:
train_y.dtypes

dtype('O')

In [ ]:
train_X=train_X.astype('float')
test_X=test_X.astype('float')

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
clf = LogisticRegression()

In [ ]:
clf.fit(train_X, train_y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
y_pred = clf.predict(test_X)

In [ ]:
from sklearn import metrics
print(metrics.accuracy_score(test_y, y_pred))

0.8822882288228823

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
confusion_matrix=confusion_matrix(test_y, y_pred)
print(confusion_matrix)

[[781  19]
 [ 88  21]]